body{
    background-color: #c8c3cc;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:white;
    background-color: #8ca3a3;
    padding: 0.5em;
    text-align: center;
border-top-left-radius:0.8em;
border-bottom-right-radius: 0.8em;
}
legend, label{
    color:#563f46;
    }

label, input[type="text"]{
    float:left;
  
    
}